# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files and artifacts
*.pkl
*.joblib

# Data files (optional - if you don't want to version large CSVs)
data/raw/
data/processed/
*.csv

# VSCode config (if you're using VSCode)
.vscode/

# Virtual environment folders
env/
venv/
.venv/

# OS-specific
.DS_Store
Thumbs.db

# Streamlit app logs
.streamlit/

# Logs or temp files
*.log
*.tmp